/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: black;
}


h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 5%;
}

.games-buttons, .navigation-buttons {
    display: flex;
    align-items: center;
}


.navbar-button {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: lightgray;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}

.navbar-button-active {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}

.navbar-title {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 0px 10% 0px 1%;
    font-size: 20px;
}

.navbar-title:hover {
    color: black;
}

.games-buttons {
    margin: 0px 10% 0px 10px;
}

.game-button {
    margin: 0px 10px 0px 10px;
}

.game-image {
    max-width: 25px;
    max-height: 25px;
    transition: all 0.2s ease-out;
    position: relative;
}

.game-image:hover {
    max-width: 30px;
    max-height: 30px;
    z-index: 1;
}