/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: lightgrey;
}


h1 {
    font-size: 5rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
	height: 50px;
}

.games-buttons {
    display: flex;
    align-items: center;
	width: 180px;
}


.navigation-buttons {
    display: flex;
    align-items: center;
}


.navbar-button {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: lightgray;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.navbar-button:hover {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}


.navbar-button-active {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.navbar-title {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 0px 20% 0px 1%;
    font-size: 20px;
}

.navbar-title:hover {
    color: black;
}

.games-buttons {
    margin: 0px 20% 0px 10px;
	width: 180px;
}

.game-button {
    margin: 0px 5px 0px 5px;
}

.game-image {
    max-width: 30px;
    max-height: 30px;
    transition: all 0.2s ease-out;
    position: relative;
	padding: 5px;
}

.game-image:hover {
	/* width: 30px; */
	/* height: 30px; */
    max-width: 35px;
    max-height: 35px;
	/* border-radius: 3px;
	background-color: lightgray;
	-webkit-filter: invert(1);
	filter: invert(1); */
	position: relative;
	z-index: 2;
}

.profile-button {
	margin-left: 22%;
}

.profile-picture-button {
	max-width: 50px;
	max-height: 50px;
	border-radius: 15px;
	border: solid 3px black;
}
.page-title {
    margin: 15px 0px 15px 0px;
}

.leaderboard-table-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderboard-podium-div {
    display: flex;

    justify-content: center;
}

#leaderboard-podium-third {
    /* margin: 0px 20px 0px 20px; */
    padding: 50px 50px 50px 50px;
    background-color: brown;
}

#leaderboard-podium-second {
    /* margin: 0px 20px 0px 20px; */
    padding: 50px 50px 70px 50px;
    background-color: silver;
}

#leaderboard-podium-first {
    /* margin: 0px 20px 0px 20px; */
    padding: 50px 50px 90px 50px;
    background-color: gold;
}