#friends {
	padding-left: 20vw;
	padding-right: 20vw;
}

#friends h1 {
	text-align: center;
	font-size: 3.5rem;
	font-family: 'Belgrano-Regular';
}

#friends input {
	background: none;
	border: none;
	border-bottom: 0.15rem rgb(97, 69, 18) solid;
}

#friends form button {
	background: none;
	border: none;
	transform: scale(1.8);
}

#friends form button:hover {
	transition: transform 0.3s ease;
	transform: scale(2.2);
}

#friends input::placeholder {
	color: rgb(97, 69, 18);
}

#friends .friendships img {
	height: 8vh;
	width: 8vh;
	cursor: pointer;
	border-radius: 10%;
	overflow: hidden;
	object-fit: cover;
    object-position: center;
}

#friends .friendships img:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.1);
}

#friends .friendships button {
	background: none;
	border: none;
}

#friends .friendships button img {
	height: 4vh;
	width: 4vh;
}

#friends .friendships button img:hover {
	transition: transform 0.3s ease;
	transform: scale(1.2);
}

#friends div span {
	cursor: pointer;
	margin-left: 1rem;
	font-size: 2rem;
	font-family: 'Mouse-Memoirs';
}

#friends div span:hover {
	transition: transform 0.3s ease;
	transform: scale(1.2);
}

#friends .friendships .row {
	border-bottom: 0.1rem black solid;
	padding-bottom: 1rem;
	padding-top: 1rem;
}