#profile-popup {
	position: fixed;
	top: 10vh;
	left: 30vw;
	width: 40vw;
	height: 70vh;
	z-index: 100;
	background-color: white;
	border: 5px black solid;
	background-image: url("../../backgrounds/old-paper-background.jpg");
	background-position: center;
	color: black;
	font-size: large;
	font-weight: medium;
	
}

#profile-popup .rank {
	font-family: 'Mouse-Memoirs', sans-serif;
	font-size: xx-large;
}

#profile-popup h5 {
	font-size: 5rem;
	font-family: 'Mouse-Memoirs', sans-serif;
	text-align: center;
}

#profile-popup .row.title {
	background-image: url("../../backgrounds/fallout-boy-banner.png");
	background-repeat: no-repeat;
	background-position: 90%;
	margin-bottom: 2vh;
}

#profile-popup img.profile-picture {
	height: 20vh;
	width: 20vh;
	border-radius: 5%;
	overflow: hidden;
	object-fit: cover;
    object-position: center;
}

#profile-popup p {
	margin: 0px;
	padding: 0px;
}

#profile-popup .attribute {
	font-weight: bold;
}

#profile-popup button {
	border: none;
	background: none;
}

#profile-popup button img {
	height: 4vh;
	width: 4vh;
	margin: 1vh;
}

#profile-popup button img:hover {
	transition: transform 0.3s ease;
	transform: scale(1.3);
}

span.online-status {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-right: 0.5rem;
}

span.online-status.online {
	background-color: rgb(93, 201, 93);
}

span.online-status.offline {
	background-color: rgb(202, 14, 14);
}

#profile-popup h5 span.online-status {
	height: 3vh;
	width: 3vh;
	margin-bottom: 0.6rem;
}

#settings-popup {
	position: fixed;
	top: 10vh;
	left: 30vw;
	width: 40vw;
	height: 70vh;
	z-index: 100;
	background-color: white;
	border: 5px black solid;
	background-image: url("../../backgrounds/old-paper-background.jpg");
	background-position: center;
	color: black;
	font-size: large;
	font-weight: medium;
	
}

#settings-popup h5 {
	font-size: 5rem;
	font-family: 'Mouse-Memoirs', sans-serif;
	text-align: center;
}

#settings-popup .row.title {
	background-image: url("../../backgrounds/fallout-boy-banner.png");
	background-repeat: no-repeat;
	background-position: 90%;
	margin-bottom: 2vh;
}

#settings-popup img.settings-picture {
	height: 20vh;
	width: 20vh;
	border-radius: 5%;
	overflow: hidden;
	object-fit: cover;
    object-position: center;
	cursor: pointer;
}

#settings-popup p {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.1rem;
	margin-left: 0.7rem;
}

#settings-popup button {
	padding: 0.6rem 1.8rem;
	background: rgb(97, 69, 18);
    font-family: 'Mouse-Memoirs';
	font-size: x-large;
	color: whitesmoke;
    border: none;
}

#settings-popup button[type="submit"] {
	background-color: green;
}

#settings-popup input, #settings-popup textarea {
	width: 100%;
	background: none;
	border: none;
	border-bottom: 0.15rem rgb(97, 69, 18) solid;
}


#settings-popup button:hover {
	transition: transform 0.3s ease;
	transform: scale(1.1);
}

#settings-popup .form-group {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: start;
	margin-bottom: 1rem; /* Consistent spacing between form elements */
}

#settings-popup label {
    margin-left: 0.3rem
}

#settings-popup .form-group input[type="checkbox"] {
	width: auto;
}