<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/general/header.css">
</head>
<body>
    <main>
        <header class="container p-0">
            <div class="row align-items-center justify-content-between">
                <div class="col-1 header-left-section">
                    <a><button>Test</button></a>
                </div>
                <div class="col-1 header-left-section">
                    <a><button>Test</button></a>
                </div>
                <div class="col-1 header-left-section">
                    <a><button>Test</button></a>
                </div>
                <div class="col-1 header-left-section">
                    <a><button>Test</button></a>
                </div>
                <div class="col-4 header-middle-section">
                    <h1>Transcendence</h1>
                </div>
                <div class="col-1 header-right-section">
                    <img style="background-color: black; height: 50px; width: 50px;">
                </div>
                <div class="col-1 header-right-section">
                    <img style="background-color: black; height: 50px; width: 50px;">
                </div>
                <div class="col-1 header-right-section">
                    <img style="background-color: black; height: 50px; width: 50px;">
                </div>
                <div class="col-1 header-right-section">
                    <img style="background-color: black; height: 50px; width: 50px;">
                </div>
            </div>
        </header>
        <nav>

        </nav>
        <section id="chats">

        </section>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>