header, header.blurry {
    display: none;
    position: fixed;
	z-index: 10;
    left: 0;
    top: 0;
    height: 20vh;
    margin-top: 0vh;
    background-image: url('../../backgrounds/old-paper-background.jpg');
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-size: cover;
    background-blend-mode: screen;
    background-color: rgba(222, 184, 135, 0.6);
	transition: margin-top 0.5s;
}

header.scrolled, header.blurry.scrolled {
	transition: margin-top 0.5s;
    margin-top: -20vh;
}

header.active {
    display: block;
}

header p {
    color: black;
}

#main-header {
    height: 16vh;
}

#main-header .header-left-section {
    border: 10px black;
    border-style: double;
    height: 15vh;
    padding-top: 1rem;
}

#main-header .header-left-section p {
    font-family: 'Belgrano-Regular';
    font-size: 1.5rem;
    margin: 0;
}

#main-header .header-left-section img {
    margin-bottom: 0.5rem;
    height: 5vh;
    width: auto;
	cursor: pointer;
}

#main-header .header-left-section img:hover {	
	transition: transform 0.3s ease;
	transform: scale(1.2);
}
	

#main-header .header-middle-section {
    height: 15vh;
}

#main-header .header-right-section {
    border: 10px black;
    border-style: double;
    height: 15vh;
    padding-top: 1rem;
}

#main-header .header-right-section img {
    margin-bottom: 0.5rem;
    height: 6vh;
    width: 6vh;
    overflow-x: hidden;
	cursor: pointer;
}

#main-header .header-right-section img:hover {	
	transition: transform 0.3s ease;
	transform: scale(1.2);
}
	
#main-header .header-right-section p {
    font-family: 'Belgrano-regular';
    font-size: 1.5rem;
    margin: 0;
}

#main-header p:hover {
	transition: transform 0.3s ease;
	transform: scale(1.2);
}

#main-header .header-middle-section h1 {
    text-align: center;
    font-family: 'Canterbury';
    font-size: 13vh;
    letter-spacing: 0.4rem;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main-header img {
    overflow-x: hidden;
    border-radius: 50%;
}


#sub-header {
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    height: 4vh;
}

#sub-header a {
    font-family: 'Belgrano-Regular';
    color: black;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        letter-spacing 0.3s,
        background-size 0.3s,
        background-position 0s 0.3s;
}

#sub-header a:hover {
    letter-spacing: 0.1rem;
    background-position: 100% 100%;
    background-size: 100% 2px;
}
