section#register {
    margin-top: -20vh;
}

#register h1 {
    font-family: 'Belgrano-Regular';
}

#register form input {
	background: none;
	border: none;
	border-bottom: 0.15rem rgb(97, 69, 18) solid;
}

#register form button {
    margin: 1rem;
    padding: 0.5rem 3rem;
    background: rgb(97, 69, 18);
    font-family: 'Mouse-Memoirs';
    color: whitesmoke;
    font-size: 1.5rem;
    border: none;
}

#register form button:hover {
    transition: background-color 0.3s ease;
    transition: letter-spacing 0.3s ease;
	background: rgb(139, 100, 26);
    letter-spacing: 0.1rem;
}

#register input::placeholder {
	color: rgb(97, 69, 18);
}

#register #already-account {
    background: none;
    border: none;
}

#register #already-account:hover {
    color: rgb(94, 57, 2);
    transform: scale(1.1);
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}