body header {
	height: 14vh;
	width: 100%;
	background-color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

body header .left-section,
body header .middle-section,
body header .right-section {
	display: flex;
	align-items: center;
}

body header .left-section {
	padding-left: 2vw;
	justify-content: flex-start;
}

body header .left-section .header-hamburger-menu {
	height: 3vh;
}

body header .left-section .header-logo {
	padding-left: 2vw;
	height: 4vh;
}

body header .middle-section {
	flex-grow: 1;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-left: -10vw;
}

body header .middle-section img {
	height: 6vh;
	margin: 0 4vw;
}

body header .right-section {
	justify-content: flex-end;
	flex-shrink: 0;
	margin-right: 2vw;
}

body header .right-section img {
	height: 4vh;

	border-radius: 2.5vh;
	border: solid 2px black;
}

@media (max-width: 600px) {
	body header {
		height: 10vh;
	}

	body header .left-section {
		margin-left: 3vw;
	}

	body header .left-section .header-hamburger-menu {
		height: 3vh;
	}
	
	body header .left-section .header-logo {
		margin-left: 28vw;
		height: 4vh;
	}

	body header .middle-section a {
		display: none;
	}

	body header .right-section {
		margin-right: 3vw;
	}

	body header .right-section img {
		height: 4vh;

		border-radius: 2.5vh;
		border: solid 2px black;
	}
}