#card-popup {
	position: fixed;
	top: 10vh;
	left: 30vw;
	width: 40vw;
	height: 75vh;
	z-index: 100;
	background-color: white;
	border: 5px black solid;
	background-image: url("../../backgrounds/old-paper-background.jpg");
	background-position: center;
	color: black;
	font-size: large;
	font-weight: medium;	
}

#card-popup .card-visual {
	width: 100%;
	height: auto;
}

#card-popup .rank {
	font-family: 'Mouse-Memoirs', sans-serif;
	font-size: xx-large;
}

#card-popup h4 {
	font-size: 5rem;
	font-family: 'Mouse-Memoirs', sans-serif;
	text-align: center;
}

#card-popup .row.title {
	background-image: url("../../backgrounds/fallout-boy-banner.png");
	background-repeat: no-repeat;
	background-position: 90%;
	margin-bottom: 7vh;
}

#card-popup .quote {
	background-color: rgb(243, 211, 163);
	background-image: url("../../backgrounds/old-paper-background.jpg");
	background-blend-mode: screen;
	border-radius: 1rem;
	border: 5px black double;
	padding: 1rem;
	text-align: center;
	font-family: 'Mouse-Memoirs', sans-serif;
	font-size: xx-large;
	font-weight: lighter;
}